/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-size: 5rem;   
}

h2 {
    font-size:3rem;
}

h3 {
    font-size: 2rem;
}

/* maximum width - 1200px */
header, section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0; 
}

/* 1st section - Home */
header {
    background-color: #222222;
    padding: 0.7rem 0.7rem 0 0.7rem;
    height: 510px;
}

.home {
    background-color:#c68d00;
    padding: 1rem 0 6rem;
    position: relative;
}

nav {
    position: relative;
    top:-4rem;
}
nav ul {
    color: #c68d00;
    list-style: none;
    font-size: 1.3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
}

ul li:nth-child(1) {
    color: #222222;
}

#homesearch{
    position: relative;
    top:-4.8rem;
    width: 93%;
    font-size: 1.3rem;
    height: 2.5rem;
}


/* Search Box Styles */
.search-box {
    position: relative;
    display: flex; 
    width: 100%; 
    margin: 0;
}

#homesearch {
    flex-grow: 1;
    font-size: 1.3rem;
    height: 2.5rem;
}

.material-symbols-outlined {
    position: relative;
    top: -4.8rem;
    font-size: 1.8rem;
    color: #c68d00;
    border: solid #c68d00 0.1rem;
    padding: 5px;
}

/* 2nd ssection - Welcom to the.. */
.sec2 {
    background-size: cover;
    background-image: url(../images/main-banner.jpg);
    padding-top: 4.5rem;
    padding-bottom: 2.3rem;
    background-repeat: no-repeat;
}

.sec2 article {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 3.5rem;
    padding-bottom: 3rem;
    padding-left: 0.7rem;
}
.sec2 h1{
    color: white;
    margin: 0;
}

.sec2 p{
    color: white;
    padding: 0;
    line-height: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* button styles */
.sec2 .connect-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c68d00; 
    color: black; 
    font-size: 1.5rem; 
    padding: 1rem 2rem; 
    border: none; 
}

.sec2 .img2 {
    width: 3rem;
    height: auto; 
    display: inline-block;
    vertical-align: middle;
}
/* 3rd section - Welcom to the.. */

.sec3 {
    background-color: #ffe6ac;
    
}
.sec3 img {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}
.sec3 h2 {
    margin: 0;
}

.sec3 h2, p {
    padding-left:1rem;
}

.sec3 p {
    padding-bottom: 2rem;
}

/* 4th section - Our Services */

.sec4 h2 {
    margin-top: 4rem;
    margin-bottom: 0.3rem;
    margin-left: 1rem;
}

.sec4 article, .sec5 article, .sec6 article, .sec7 article, .sec8 article {
    width: 100%;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
}

.sec4 article .content, .sec5 article .content, .sec6 article .content, .sec7 article .content, .sec8 article .content{
    padding: 1rem;
    background-color: ffe6ac;
}

.sec4 img, .sec5 img, .sec6 img, .sec7 img, .sec8 img {
    display: block;
    width: 100%;
    padding: 1rem;
    padding-bottom: 0;
    box-sizing: border-box;
}

.sec4 .container4, .sec5 .container5, .sec6 .container6, .sec7 .container7, .sec8 .container8{
    background-color: #ffe6ac;
    padding: 0;
    padding-bottom: 1rem;
    margin: 1rem;
    margin-top: 0;

}

.sec4 h3, .sec5 h3, .sec6 h3, .sec7 h3, .sec8 h3 {
    margin-top: 0;
    padding: 1rem;
}

.sec4 p, .sec5 p, .sec6 p, .sec7 p, .sec8 p {
    padding: 1rem;

}

.sec4 button, .sec5 button, .sec6 button, .sec7 button, .sec8 button {
    background-color: black;
    font-size: 1.5rem;
    color: white;
    margin-left: 1rem;
    padding: 2rem;
    border: none;
}


/* 5th section - Our Services */
/* 5th section shares CSS code with 4th section */

/* 6th section - Video Productio */
/* 6th section shares CSS code with 4th section */

/* 7th section - Web Development */
/* 7th section shares CSS code with 4th section */

/* 8th section - print */
/* 8th section shares CSS code with 4th section */

/* 9th section - Our vision */

.sec9 {
    background-image: url(../images/vision.jpg);
    background-size: cover; 
    width: 100%;
    color: white; /* Assuming you want white text */
}

/* 13th section - Hours of operation */
.sec13 {
    max-width: 600px;
    margin: 0;
}

.sec13 h2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #FFD966;
    color: #000;
    border: 1px solid black;
    padding: 10px;
}

td {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}


@media (min-width: 760px) {
    .container {
        max-width: 1200px;
    }

    /* Additional styles for larger screens */
}
