/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* basic element setting */
html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-size: 3.5rem;   
}

h2 {
    font-size:2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1rem;
}

/* maximum width - 1200px */
header, section, .flex-container1, .flex-container2, footer, .grid-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0; 
}


/* 1st section - Home */
header {
    background-color: #222;
    padding: 0.7rem 0.7rem 0 0.7rem;
    height: 510px;
}

.home {
    background-color:#c78c06;
    padding: 1rem 0 6rem;
    position: relative;
}

nav {
    position: relative;
    top:-4rem;
}
nav ul {
    color: #c78c06;
    list-style: none;
    font-size: 1.3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
}

ul li:nth-child(1) {
    color: #222;
}

#homesearch{
    position: relative;
    top:-4.8rem;
    width: 93%;
    font-size: 1.3rem;
    height: 2.5rem;
}


/* Search Box Styles */
.search-box {
    position: relative;
    display: flex; 
    width: 100%; 
    margin: 0;
}

#homesearch {
    flex-grow: 1;
    font-size: 1.3rem;
    height: 2.5rem;
}

.material-symbols-outlined {
    position: relative;
    top: -4.8rem;
    font-size: 1.8rem;
    color: #c78c06;
    border: solid #c78c06 0.1rem;
    padding: 5px;
}

/* 2nd ssection - Welcom to the.. */
.sec2 {
    background-size: cover;
    background-image: url(../images/main-banner.jpg);
    padding-top: 4.5rem;
    padding-bottom: 2.3rem;
    background-repeat: no-repeat;
}

.sec2 article {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 3.5rem;
    padding-bottom: 3rem;
    padding-left: 0.7rem;
}
.sec2 h1{
    color: white;
    margin: 0;
}

.sec2 p{
    color: white;
    padding: 0;
    line-height: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* button styles */
.sec2 .connect-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c78c06; 
    color: #222; 
    font-size: 1.5rem; 
    padding: 1rem 2rem; 
    border: none; 
}

.sec2 .img2 {
    width: 3rem;
    height: auto; 
    display: inline-block;
    vertical-align: middle;
}
/* 3rd section - Welcom to the.. */

.sec3 {
    background-color: #ffe6ac;
    
}
.sec3 img {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}
.sec3 h2 {
    margin: 0;
}

.sec3 h2, p {
    padding-left:1rem;
}

.sec3 p {
    padding-bottom: 2rem;
}

/* 4th section - Our Services */

.flex-container1 {
    padding: 0;
}

.sec4 h2 {
    margin-top: 2rem;
}
.flex-container1 .sec4 h2{
    padding-left: 1rem;
}

.sec4 article, .sec5 article, .sec6 article, .sec7 article, .sec8 article {
    width: 100%;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
}

.sec4 article .content, .sec5 article .content, .sec6 article .content, .sec7 article .content, .sec8 article .content{
    padding: 1rem;
    background-color: #ffe6ac;
}

.sec4 img, .sec5 img, .sec6 img, .sec7 img, .sec8 img {
    display: block;
    width: 100%;
    padding: 1rem;
    padding-bottom: 0;
    box-sizing: border-box;
}

.sec4 .container4, .sec5 .container5, .sec6 .container6, .sec7 .container7, .sec8 .container8{
    background-color: #ffe6ac;
    padding: 0;
    padding-bottom: 1rem;
    margin: 1rem;
    margin-bottom: 0;
    margin-top: 0;

}

/* sec4~sec8 h3 styles */
.sec4 h3, .sec5 h3, .sec6 h3, .sec7 h3, .sec8 h3 {
    margin-top: 0;
    padding: 1rem;
}

/* sec4~sec8 paragraph styles */
.sec4 p, .sec5 p, .sec6 p, .sec7 p, .sec8 p {
    padding: 1rem;

}
/* sec4~sec8 button styles */
.sec4 button, .sec5 button, .sec6 button, .sec7 button, .sec8 button {
    background-color: #222;
    font-size: 1.5rem;
    color: white;
    margin-left: 1rem;
    padding: 2rem;
    border: none;
}
/* sec4~sec8 arrow styles */
.sec4 .arrow4, .sec5 .arrow5, .sec6 .arrow6, .sec7 .arrow7, .sec8 .arrow8{
    font-size: 1.4rem;
    color: white;
    border: none;
    padding-left: 1.5rem;
}

/* sec4~sec8 h3 styles */
.sec4 h3, .sec5 h3, .sec6 h3, .sec7 h3, .sec8 h3 {
    margin-top: 0;
    padding: 1rem;
}

/* sec4~sec8 paragraph styles */
.sec4 p, .sec5 p, .sec6 p, .sec7 p, .sec8 p {
    padding: 1rem;

}
/* sec4~sec8 button styles */
.sec4 button, .sec5 button, .sec6 button, .sec7 button, .sec8 button {
    background-color: #222;
    font-size: 1.5rem;
    color: white;
    margin-left: 1rem;
    padding: 2rem;
    border: none;
}
/* sec4~sec8 arrow styles */
.sec4 .arrow4, .sec5 .arrow5, .sec6 .arrow6, .sec7 .arrow7, .sec8 .arrow8{
    font-size: 1.4rem;
    color: white;
    border: none;
    padding-left: 1.5rem;
}


/* 5th section - Our Services */
/* 5th section shares CSS code with 4th section */

/* 6th section - Video Productio */
/* 6th section shares CSS code with 4th section */

/* 7th section - Web Development */
/* 7th section shares CSS code with 4th section */

/* 8th section - print */
/* 8th section shares CSS code with 4th section */

/* sec4~sec8 container style for wide version */



/* .flex-container (sec4~sec8) setting */

div .flex-contianer1{
    margin: 0;
    padding: 0;
}

div .flex-contianer2{
    margin: 0;
    padding: 0;
}

/* 9th section - Our vision */

.sec9 {
    background-image: url('../images/vision.jpg');
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: 50% 50%;
    width: 100%;
    color: white;
    height: 300px;
    margin-top: 2rem;
}

.sec9 h3{
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
}

.sec9 p{
    padding-bottom: 1.5rem;
}
.sec9 button{
    background-color: #222;
    font-size: 1.5rem;
    color: white;
    margin-left: 1rem;
    padding: 2rem;
    border: none;
    border: solid 0.1rem #c78c06;
}

.sec9 .arrow9{
    font-size: 1.4rem;
    color: white;
    border: none;
    padding-left: 1.5rem;
}


/* 10th section - Our team */

.sec10 h2 {
    margin-top: 2rem;
    margin-left: 1rem;
}

.sec10 h3, .sec11 h3 {
    margin-left: 1rem;
    padding-top: 1rem;
}

.sec10 h4, .sec11 h4  {
    margin-left: 1rem;
    margin-right: 1rem;
    border-bottom: #c78c06 solid 0.1rem;
}

.sec10 article, .sec11 article {
    width: 100%;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
}

.sec10 p, .sec11 p {
    padding: 1rem;
}

.sec10 div, .sec11 div {
    padding: 1rem;
    background-color: #ffe6ac;
}

.sec10 img, .sec11 img {
    display: block;
    width: 100%;
    padding: 1rem;
    padding-bottom: 0;
    box-sizing: border-box;
}

.sec10 .container10, .sec11 .container11 {
    background-color: #ffe6ac;
    padding: 0;
    padding-bottom: 1rem;
    margin: 1rem;
    margin-bottom: 0;
    margin-top: 0;

}

/* 12th section - Contact us */

.sec12 {
    padding: 2rem;
}

.sec12 h2 {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.sec12 h3 {
    padding-bottom: 1rem;
}

#fname, #yemail {
    width: 100%;
}

#ymessage {
    width: 100%;
    height: 7rem;
}

.sec12 button {
    background-color: #222;
    font-size: 1rem;
    color: #c78c06;
    border: none;
    padding: 0.4rem;
    margin-top: 1rem;
}

/* 13th section - Hours of operation */
.sec13 {
    max-width: 100%;
    margin: 0;
    padding: 2rem;
    padding-top: 0;
}

.sec13 h3 {
    margin-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #ffe6ac;
    color: #222;
    border: 0.1rem solid #222;
    padding: 0.7rem;
}

td {
    text-align: left;
    padding: 0.7rem;
    border: 0.1rem solid #222;
}

/* 14th section - Location */

.sec14 {
    width: 100%;
    margin: 0;
    padding: 2rem;
    padding-top: 0;
}

.sec14 iframe {
    width: 100%;
}

footer {
    background-color: #222;
    color: #c78c06;
}

footer p {
    padding : 2rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    line-height: 2rem;
}
/* Footer styles */
footer p a {
    color: #c78c06;
}

/* -------------- mobile page ends -------------- */


/* Additional styles for larger screens */



@media (min-width: 760px) {


    h3 {
        font-size: 1.7rem;
    }
    
    /* header style start*/

    header {
        display: grid;
        grid-template-columns: 0.5fr 3fr 1.5fr; 
        grid-template-areas: "logo nav search";
        align-items: center;
        height: 10rem;
        padding: 0 4rem;
    }

    .home {
        grid-area: logo;
        padding: 0;
        position:relative;
        top: -4rem;
        background-color: transparent;
    }

    .home image {
        width: 3rem;
        height: auto;
    }

    /* Position and style the navigation */
    nav {
        grid-area: nav;
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 100%; 
    }

    nav ul {
        display: flex;
        list-style: none;
        flex-direction: row;
        padding: 0;
        margin: 0; 
        justify-content: center;
        align-items: center; 
    }

    nav ul li {
        color: #c78c06;
        padding: 1rem;
        white-space: nowrap;
    }

    nav ul li:first-child {
        background-color: #c78c06; 
        padding: 0.5rem 1rem;
    }
    
    /* Position and style the search box */
    .search-box {
        grid-area: search;
        position: relative;
        top: 0.7rem;
    }

        /* header style end*/

        /* body style start */

    /* sec3 style; */

    .sec2 article {
        margin: 4rem;
        padding-top: 0;
        padding-bottom: 0.5rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    .sec3 {
        padding: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "img h2"
            "img p"; 
        align-items: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

    }

    .sec3 img {
        padding: 0;
        grid-area: img;
    }

    .sec3 h2 {
        grid-area: h2;
    }

    .sec3 p {
        grid-area: p;
    }

    /* Sec4 ~ Sec8 style */

    .flex-container1 .sec4 h2{
        padding-left: 0;
    }
    
    .sec4 h2 {
        margin-top: 0;
    }
    

    .sec5 {
        position: relative;
        top: 54.5px;

    }

    .flex-container1, .flex-container2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch; 
        padding: 4rem;
        gap:1rem
    }

    .flex-container1 {
        padding-bottom: 0;
    }

    .flex-container2 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .sec4 .container4, .sec5 .container5, .sec6 .container6, .sec7 .container7, .sec8 .container8 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        padding-bottom: 1rem;
    }


    .sec4 img, .sec5 img, .sec6 img, .sec7 img, .sec8 img {
        width: 100%; 
        height: auto;
        padding:0;
        padding-top: 1rem;
        
    }

    .sec4 button, .sec5 button, .sec6 button, .sec7 button, .sec8 button {
        margin-top: auto;
        margin-right: 16px;
        font-size: 1.3rem;
    }

    button {
        font-size: 0.5rem;
    }

    /* Sec10 style */

    .sec10 article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "h2 h2"
            "img div";
        padding: 4rem;
        padding-bottom: 0;
    }

    .sec10 h2 {
        grid-area: h2;
        margin: 0;
    }

    .sec10 img {
        grid-area: img;
        padding: 0;
    }

    .sec10 .container10 {
        grid-area: div;
        margin: 0;
    }
    /* Sec11 style */

    .sec11 article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "div img";
        padding: 4rem;
        padding-top: 0;
    }

    .sec11 img {
        grid-area: img;
        padding: 0;
    }

    .sec11 .container11 {
        grid-area: div;
        margin: 0;
    }

    /* Sec12 ~ Sec14 style */

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "contact map"
            "form form";
        padding: 4rem;
        padding-top: 0;
        gap: 1rem;
        padding-bottom: 1rem;
    }

    .sec12 {
        grid-area: contact;
        padding: 0;
        width: 100%;      
    }

    .sec12 h2 {
        padding-top: 0;
        padding-bottom: 3rem;
    }

    .sec13 {
        grid-area: form;
        padding:0;
        padding-top: 5rem;
    }

    .sec14 {
        grid-area: map;
        padding: 0;
        position: relative;
        top: 102.5px;
    }

    /* footer style */
    footer {
        padding-left: 4rem;
    }
}
